[mysqld]
basedir=/opt/mysql5.5
datadir=/var/master5.5

port=3306
socket=/tmp/master.5.5.socket
pid-file=/tmp/master.5.5.pid
user=mysql

general_log_file=/var/master5.5logs/mysqld.master.general.log
slow_query_log_file=/var/master5.5logs/mysqld.master.slow.log
log_error=/var/master5.5logs/mysqld.master.error.log

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

server-id=1

log_bin=master-bin

binlog_format=STATEMENT

sync_binlog=0

innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2

[mysql]
socket=/tmp/master.5.5.socket
