[mysqld]
basedir=/opt/mysql5.7
datadir=/var/master5.7

port=3306
socket=/tmp/master.5.7.socket
pid-file=/tmp/master.5.7.pid
user=mysql

general_log_file=/var/master5.7logs/mysqld.master.general.log
slow_query_log_file=/var/master5.7logs/mysqld.master.slow.log
log_error=/var/master5.7logs/mysqld.master.error.log

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
explicit_defaults_for_timestamp=1

server-id=1

log_bin=master-bin

binlog_format=STATEMENT

binlog_order_commits=OFF
binlog_max_flush_queue_time=0
sync_binlog=0

innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2

[mysql]
socket=/tmp/master.5.7.socket
