[mysqld]
basedir=/opt/mysql5.5
datadir=/var/slave5.5

port=3306
socket=/tmp/slave.5.5.socket
pid_file=/tmp/slave.5.5.pid
user=mysql

general_log_file=/var/slave5.5logs/mysqld.slave.general.log
slow_query_log_file=/var/slave5.5logs/mysqld.slave.slow.log
log_error=/var/slave5.5logs/mysqld.slave.error.log

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

server-id=2

sync_binlog=0

innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2

[mysql]
socket=/tmp/slave.5.5.socket
