[mysqld]
basedir=/opt/mysql5.7
datadir=/var/slave5.7

port=3306
socket=/tmp/slave.5.7.socket
pid_file=/tmp/slave.5.7.pid
user=mysql

general_log_file=/var/slave5.7logs/mysqld.slave.general.log
slow_query_log_file=/var/slave5.7logs/mysqld.slave.slow.log
log_error=/var/slave5.7logs/mysqld.slave.error.log

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
explicit_defaults_for_timestamp=1

server-id=2

slave_parallel_type=LOGICAL_CLOCK
slave_parallel_workers=4

binlog_order_commits=OFF
binlog_max_flush_queue_time=0
sync_binlog=0

innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2

[mysql]
socket=/tmp/slave.5.7.socket
